## Variables and String 
**Variables** are used to store values. A **string** is a series of characters, surrounded by single or double qoutes.

In [18]:
# Hello World
print("Hello World")

Hello World

In [3]:
# Hello World with a variable 
message = "Hello World"
print(message)

text = "message " + "Caio"
print(text)

Hello World
message Caio

In [20]:
# Concantenation(Combining strings)
first_name = 'Ryan'
last_name = 'smith'
full_name = first_name + ' ' + last_name # empty strings used for space
print(full_name  + last_name) # print first and last name

Ryan smith

## List 
A **list** stores a series of items in a particular order. You can access items using an index, or within a loop

In [21]:
# Make a list 
cars = ['Toyota', 'Honda', 'Mazda']
print(cars)

['Toyota', 'Honda', 'Mazda']

In [36]:
# Get the first item in a list 

first_car = cars[0]

# Get the last item in a list 

second_car = cars[1]

# Loop through a list
for car in cars:
    print(cars)

['Toyota', 'Honda', 'Mazda']
['Toyota', 'Honda', 'Mazda']
['Toyota', 'Honda', 'Mazda']

In [41]:
# Adding items to a list
cars = []
cars.append('Toyota')
cars.append('Honda')
cars.append('Mazda')

In [50]:
# Making numerical lists
squares = []
for x in range(1, 11):
    squares.append(x**2) # multiply each number by 2
    print(squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
# list comprehensions
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
# Slicing a list
names = ['sam', 'viki', 'Django']
last_two = names[1:]
print(last_two) # print last two names

['viki', 'Django']

In [53]:
# Copying a list
copy_of_car = cars[:] # copy into another variable 
print(copy_of_car)

['Toyota', 'Honda', 'Mazda']

## Tuples
**Tuples** are similar to list, but the items in a tuple can't be modified

In [5]:
# Making a tuple 
fruit_tuple = ('Apple', 'banana', 'kiwi')
dimensions = (1920, 1620)
print('fruits are:',fruit_tuple)
print('dimensions are',dimensions)

fruits are: ('Apple', 'banana', 'kiwi')
dimensions are (1920, 1620)

## If statements 
**If statements** are used to test for particular conditions and respond appropriately

**Conditional Test**

**equal**                x == 10

**not equal**            x != 10

**greater than**         x  > 10

**or equal to**          x >= 10

**less than**            x <  10

**or equal to**          x <= 10

In [11]:
# Assigning boolean values
a = 10 
b = 20 
print(a == b) # answer is false because a is not equal to b

False

In [22]:
# A simple if test

if age < 5:
    ticket_price = 0
elif age < 18:
    ticket_price = 10
else:
    ticket_price = 20
print(age < 18,ticket_price)

True 0